{% comment %}<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20"><path stroke="currentColor" d="M1.257 7.5h17.486a.5.5 0 01.487.612l-2.538 11a.5.5 0 01-.488.388H3.796a.5.5 0 01-.488-.388l-2.538-11a.5.5 0 01.487-.612z"/><path fill="currentColor" fill-rule="evenodd" d="M16 7h1A7 7 0 103 7h1a6 6 0 1112 0z" clip-rule="evenodd"/></svg>{% endcomment %}
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5Zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0ZM14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
</svg>
