{% comment %}
    Use this snippet to add a responsive image to page.

    Specify Shopify image you want to make responsive in the "with" parameter (see examples below).

    You can use following variables to customize the image
    * default_size: size of placeholder image until full image is loaded (default: '300x')
    * class: additional classes to be applied to an image
    * alt: alt text for the image
    * blur: set to false to disable blurring image when loading (default: true), or set to "center" if the image is centered
    * props: additional properties for the <img /> tag (data-, styles, id, etc.)
    * crop: use crop to specify how the image should be cropped when it's too big

    Usage:
    * Define variables inside the include tag (preferred):
    {% render 'responsive-image' with product.image, class: 'product-image', alt: 'A simple product', default_size: '300x', props: 'data-id="1"' %}

    * Define variables before including this snippet
    {% assign class = "product-image" %}
    {% assign alt = "A simple product" %}
    {% assign default_size = '300x' %}
    {% assign crop = 'center' %}
    {% capture props %}
        data-id="1"
    {% endcapture %}
    {% render 'responsive-image' with product.image %}

{% endcomment %}

{% if default_size == blank %}
    {% assign default_size = '300x' %}
{% endif %}

{% if blur == nil %}
    {% assign blur = true %}
{% endif %}

{% if crop == blank %}
  {% assign default_src = responsive-image | img_url: '1000x1000' %}
  {% assign responsive_img_url = default_src | replace: '_1000x1000.', '_{width}.' %}
  {% assign src = responsive-image | img_url: default_size %}
{% else %}
  {% assign default_src = responsive-image | img_url: '1000x1000', crop: crop %}
  {% assign responsive_img_url = default_src | replace: '_1000x1000_', '_{width}_' %}
  {% assign src = responsive-image | img_url: default_size, crop: crop %}
{% endif %}

{% assign responsive_img_url = responsive-image | img_url: '1000x1000' | replace: '_1000x1000.', '_{width}x.' %}
{% assign src = responsive-image | img_url: default_size %}

{% if blur %}
<div style="position: relative" class="lazyload-blur-wrapper{% if blur == 'center' %} lazyload-blur-wrapper-center{% endif %}{% if class != blank %} {{ class }}--ll-wrapper{% endif %}">
{% endif %}

<noscript aria-hidden="true">
    <img
        class="{{ class }}"
        src="{{ responsive-image | img_url: '1000x1000' }}"
        loading="lazy"
        data-sizes="auto"
        {% if alt %}
            alt="{{ alt | escape }}"
        {% else %}
            alt=""
        {% endif %}
        {{ props }}
    />
</noscript>
  {% if has_add_btn %}
    <div class="absolute top-6 right-6 prod_add_div">
      <form action="/cart/add" method="post" enctype="multipart/form-data">
        <input type="hidden" name="form_type" value="product">
        <input type="hidden" name="id" value="{{ prod_variant.id }}">
        <input type="hidden" name="quantity" value="1">
        <button type="submit" name="add"
                class="flex items-center justify-center px-1 py-03 text-base font-bold uppercase bg-white rounded-full lg:px-4 tracking-giant text-orange product-card__button-content btn_add_cart ">
              <span class="hide-hover"><svg class="Icon Icon--plus prod_add_plus" role="presentation" viewBox="0 0 16 16">
      <g stroke="#4EC9EA" fill="none" fill-rule="evenodd" stroke-linecap="square">
        <path d="M8,1 L8,15"></path>
        <path d="M1,8 L15,8"></path>
      </g>
    </svg>
</span>
          <span class="show-hover">Add</span>
        </button>
      </form>
    </div>
  {% endif %}
<img
    class="lazyload {{ class }} {% if crop %}lazyload-crop-{{ crop }}{% endif %}"
    src="{{ src }}"
    loading="lazy"
    data-src="{{ responsive_img_url }}"
    data-sizes="auto"
    data-aspectratio="1.5"
    {% if blur %}
        data-lowsrc="{{ src }}"
        data-blur="true"
    {% endif %}
    {% if alt %}
        alt="{{ alt | escape }}"
    {% else %}
        alt=""
    {% endif %}
    {{ props }}
    width="{{ responsive-image.width }}"
    height="{{ responsive-image.height }}"
/>

{% if blur %}
</div>
{% endif %}
