{% assign show_blog_tags = section.settings.show_tags %}
{% assign show_blog_rss = section.settings.show_rss %}
{% assign show_comments = section.settings.show_blog_comments %}
{% assign show_author = section.settings.show_blog_author %}
{% assign show_tags = section.settings.show_blog_tags %}
{% assign show_date = section.settings.show_blog_date %}
{% assign crop = section.settings.crop %}
{% assign paginate_number = 12 %}
{% paginate blog.articles by paginate_number %}
  <section class="section section--{{ section.id }} section--full-bg" data-section-id="{{ section.id }}" data-section-type="home-promo">
    <div class="home-promo">
      {% for block in section.blocks %}
        <div class="home-promo__item" {{ block.shopify_attributes }}>
          <div class="home-promo__item-bg"></div>
          <div class="container-full">

            <div class="home-promo__content">
              <div class="o-layout">
                <div class="o-layout__item u-1/1 u-1/1@desk">
                  {% unless block.settings.image == blank %}
                    {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

                    <div class="o-ratio o-ratio--custom" style="padding-bottom: 50%;">
                      <div class="o-ratio__content img-lazyload-cover">
                        {% comment %}
                        <img class="home-promo__media-img img-lazyload lazyload js"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                            data-sizes="auto"
                            alt="{{ block.settings.image.alt }}">
                        <noscript>
                            <img class="home-promo__media-img"
                                src="{{ block.settings.image | img_url: '900x' }}"
                                alt="{{ block.settings.image.alt }}">
                        </noscript>
        {% endcomment %}
                        <video class="video-banner" autoplay muted loop playsinline>
                          <source src="{{ 'blog_1.mp4' | file_url }}" type="video/mp4">
                        </video>
                      </div>
                    </div>

                  {% else %}
                    {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                    {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                  {% endunless %}
                </div>

              </div>
            </div>

          </div>
        </div>
      {% endfor %}
    </div>
  </section>
  <h1 class="blog-title">{{blog.title}}</h1>

  <div class="container container-blog-select">
    <label class="blog-select-label">All Posts</label>
    <select class="blog-select">
      {% assign categories = section.settings.uway_post_categories | split: ", " %}
      {% for category in categories %}
        <option {% if blogs[category].title == blog.title %} selected {% endif %} value="{{ blogs[category].url }}">{{ blogs[category].title }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="custom-sidebar-menu sidebar-menu container">
    {% comment %}
    <h3 class="sidebar-product__title">{{ section.settings.uway_post_title_custom }}</h3>
    {% endcomment %}
    <div class="custom-tags-horizontal">
      {% for tag in blog.all_tags %}
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
          {% assign tagImg = tag | handle | append: '.jpg' %}
          <img src="{{ tagImg | file_url }}" alt="{{ tag }}" onerror="this.src='https://via.placeholder.com/100';">
          <div class="custom-tags-name">{{ tag }}</div>
        </a>
      {%- endfor -%}

    </div>
  </div>


  <section class="section section-blog blog-page section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="blog">
    <div class="container">
      <div class="section__title section__title--center">
        <h1 class="section__title-text h2">
          {% if current_tags %}{{ current_tags.first }}{% else %}{{ blog.title }}{% endif %}
          {% if show_blog_rss %}
            <span class="blog-page__title-rss">
                        <a class="blog-page__title-rss__link icon-fallback js-no-transition" href="{{ shop.url }}{{ blog.url }}.atom">
                            <i class="icon icon--rss" aria-hidden="true"></i>
                            <span class="icon-fallback__text">RSS</span>
                        </a>
                    </span>
          {% endif %}
        </h1>
      </div>

      {% if blog.all_tags.size > 0 and show_blog_tags %}
        <div class="blog-page__tags">
          {% if blog.all_tags.size > 8 %}
            <div class="blog-page__tags-btn">
              <a href="#blog-tags" class="link link--arrow-down blog-page__tags-btn-link u-large js-toggle-trigger">{{ 'blogs.blog.tags' | t }}</a>
            </div>
          {% endif %}
          <ul class="blog-page__tags-items o-list-bare{% if blog.all_tags.size > 8 %} blog-page__tags-items--box js-toggle-target{% endif %}" id="blog-tags">
            <li class="blog-page__tags-item"><a href="{{ blog.url }}">{{ 'blogs.blog.all' | t }}</a></li>
            {% for tag in blog.all_tags %}
              {% if current_tags contains tag %}
                <li class="blog-page__tags-item blog-page__tags-item--active">{{ tag }}</li>
              {% else %}
                <li class="blog-page__tags-item">{{ tag | link_to_tag: tag }}</li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="section-blog__content flex-mobile-reverse">
        <aside class="sidebar">
          <div class="sidebar-banner">
            {% if section.settings.uway_enable_banner == true %}
              {% if section.settings.uway_banner != blank %}

                {% if section.settings.uway_banner_url != blank %}
                  <a href="{{ section.settings.uway_banner_url }}">
                    <img src="{{ section.settings.uway_banner | img_url: '' }}" alt="{{ section.settings.uway_banner.alt }}" />
                  </a>
                {% else %}
                  <img src="{{ section.settings.uway_banner | img_url: '' }}" alt="{{ section.settings.uway_banner.alt }}" />
                {% endif %}

              {% endif %}
            {% endif %}
          </div>
          <div class="sidebar-menu">
            <h3 class="sidebar-product__title">{{ section.settings.uway_post_title_custom }}</h3>
            <ul>
              {% assign categories = section.settings.uway_post_categories | split: ", " %}
              {% for category in categories %}
                <li><a href="{{ blogs[category].url }}">{{ blogs[category].title }}</a></li>
              {% endfor %}
            </ul>
          </div>
          {%- if section.settings.uway_enable_product != false -%}
            <div class="sidebar-product">
              <h3 class="sidebar-product__title">PRODUCTS</h3>
              <ul class="sidebar-product__list">
                {% for product in collections.all.products limit: 3 %}
                  <li>
                    <a class="sidebar-product__list-item" href="{{ product.url | within: collection }}" title="{{ product.title }}">
                      <div class="sidebar-product__list-thumbnail">
                        {%- assign img_url = product.featured_media.preview_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <img class="product__img img-lazyload lazyload js"
                             data-src="{{ img_url }}"
                             data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512]"
                             data-sizes="auto"
                             alt="{{ product.featured_media.preview_image.alt | escape }}">
                        <noscript>
                          <img class="product__img"
                               src="{{ product.featured_media.preview_image.src | img_url: '720x' }}"
                               alt="{{ product.featured_media.preview_image.alt | escape }}">
                        </noscript>
                      </div>
                    </a>
                    <div class="sidebar-product__list-content">
                      <h4 class="sidebar-product__list-title">{{ product.title }}</h4>
                      <div class="sidebar-product__list-price">
                        <div class="product-single__reviews-stars">
                          <div class="product-single__reviews-stars-link js-accordion-scroll js-accordion-trigger">
                            <div product-id="{{ product.id }}" class="arv-collection arv-collection--{{ product.id }}"></div>
                          </div>
                        </div>
                        {% render 'product-price', product: product %}
                      </div>
                    </div>

                  </li>
                {% endfor %}
              </ul>
            </div>
          {%- endif -%}
        </aside>
        <div class="section-blog__list{% unless section.settings.show_bg %} blog-page__list--no-bg{% endunless %}">

          {% case section.settings.grid %}
            {% when 1 %}
              {%- assign grid_item_width = 'u-1/1@tab' -%}
            {% when 2 %}
              {%- assign grid_item_width = 'u-1/2@tab' -%}
            {% when 3 %}
              {%- assign grid_item_width = 'u-1/2@tab u-1/3@desk' -%}
          {% endcase %}

          <!-- <div class="section__bg{% unless section.settings.show_bg %} section__bg--white{% else%} section__bg--grey{% endunless %}"></div> -->

          <div class="blog__items">
            <div class="o-layout o-layout--small">
              {% for article in blog.articles %}
                <div class="o-layout__item">
                  {% render 'blog-grid-item-2', article: article, show_comments: show_comments, show_author: show_author, show_tags: show_tags, show_date: show_date, crop: crop %}
                </div>
              {% endfor %}
            </div>
          </div>

          {% if paginate.pages > 1 %}
            <div class="blog-pagination">
              <div class="container">
                <div class="pagination">
                  <div class="pagination__items">
                    {{ paginate | default_pagination: next: '<i class="icon icon--right-t"></i>', previous: '<i class="icon icon--left-t"></i>' }}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
  </section>
{% endpaginate %}

{%- assign collection = collections[section.settings.coll] -%}
{% unless collection.empty? %}
  <section class="section section--page-products section--{{ section.id }}">
    <div class="container container--medium">
      {% unless section.settings.coll_title == blank %}
        <div class="section__title section__title--center">
          <h2 class="section__title-text">{{ section.settings.coll_title | escape }}</h2>
        </div>
      {% endunless %}
    </div>

    {% case section.settings.coll_grid %}
      {% when 2 %}
        {% if section.settings.coll_mobile_layout == 'carousel' %}
          {%- assign grid_item_width = 'u-1/2@tab' -%}
        {% elsif section.settings.coll_grid_mobile == '2' %}
          {%- assign grid_item_width = 'u-1/2' -%}
        {% else %}
          {%- assign grid_item_width = 'u-1/1 u-1/2@phab' -%}
        {% endif %}
        {%- assign container_size = 'large' -%}
      {% when 3 %}
        {% if section.settings.coll_mobile_layout == 'carousel' %}
          {%- assign grid_item_width = 'u-1/3@tab' -%}
        {% elsif section.settings.coll_grid_mobile == '2' %}
          {%- assign grid_item_width = 'u-1/2 u-1/3@tab' -%}
        {% else %}
          {%- assign grid_item_width = 'u-1/1 u-1/2@phab u-1/3@tab' -%}
        {% endif %}
        {%- assign container_size = 'large' -%}
      {% when 4 %}
        {% if section.settings.coll_mobile_layout == 'carousel' %}
          {%- assign grid_item_width = 'u-1/3@tab u-1/4@desk' -%}
        {% elsif section.settings.coll_grid_mobile == '2' %}
          {%- assign grid_item_width = 'u-1/2 u-1/3@tab u-1/4@desk' -%}
        {% else %}
          {%- assign grid_item_width = 'u-1/1 u-1/3@tab u-1/4@desk' -%}
        {% endif %}
        {%- assign container_size = 'full' -%}
    {% endcase %}

    <div class="container container--{{ container_size }}{% if section.settings.coll_mobile_layout == 'carousel' %} container--mob-0{% endif %}">
      <div class="page-products js-page-products" data-section-id="{{ section.id }}">

        {%- assign product_limit = section.settings.coll_grid | times: section.settings.coll_rows -%}

        <div class="page-products__grid">
          <div class="o-layout o-layout--center{% if settings.product_grid_masonry %} o-layout--masonry{% endif %}{% if section.settings.coll_grid == 4 %} o-layout--small{% endif %}{% if section.settings.coll_mobile_layout == 'grid' and section.settings.coll_grid_mobile == '2' %} o-layout--small@tab-down{% endif %}{% if section.settings.coll_mobile_layout == 'carousel' %} layout-slider js-layout-slider js-layout-slider-{{ section.id }}{% endif %}">
            {% for product in collection.products limit: product_limit %}
              <div class="o-layout__item {{ grid_item_width }}">
                {% render 'product-grid-item', product: product, page: 'page' %}
              </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>

    {% unless section.settings.coll_link == blank %}
      <div class="section__link section__link--center">
        <a href="{{ section.settings.coll_link }}" class="link link--arrow section__link-link">{{ section.settings.coll_link_title | escape }}</a>
      </div>
    {% endunless %}
  </section>
{% endunless %}
{% schema %}
{
  "name": "Blog",
  "class": "js-section__blog",
  "settings": [
    {
      "type": "header",
      "content": "Page settings"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_rss",
      "label": "Show RSS feed link",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_bg",
      "label": "Show background color",
      "default": true
    },
    {
      "type": "range",
      "id": "grid",
      "label": "Posts per row",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 2
    },
    {
      "type": "header",
      "content": "Blog item settings"
    },
    {
      "type": "checkbox",
      "id": "crop",
      "label": "Crop images",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_blog_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_blog_author",
      "label": "Show author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_blog_comments",
      "label": "Show comment count",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_blog_tags",
      "label": "Show tags",
      "default": false
    },
    {
      "type": "header",
      "content": "Featured collection"
    },
    {
      "id": "coll",
      "type": "collection",
      "label": "Collection"
    },
    {
      "id": "coll_title",
      "type": "text",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "select",
      "id": "coll_mobile_layout",
      "label": "Mobile layout",
      "default": "carousel",
      "options": [
        {
          "value": "carousel",
          "label": "Carousel"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "coll_grid",
      "label": "Products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "select",
      "id": "coll_grid_mobile",
      "label": "Products per row (mobile)",
      "default": "1",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        }
      ]
    },
    {
      "type": "range",
      "id": "coll_rows",
      "label": "Rows",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 1
    },
    {
      "type": "text",
      "id": "coll_link_title",
      "label": "Link label",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "coll_link",
      "label": "Link"
    },
    {
      "type": "header",
      "content": "Sidebar settings"
    },
    {
      "id": "uway_enable_banner",
      "type": "checkbox",
      "label": "Enable Banner Left",
      "default": false
    },
    {
      "id": "uway_banner_url",
      "type": "text",
      "label": "Banner URL"
    },
    {
      "id": "uway_banner",
      "type": "image_picker",
      "label": "Banner Left",
      "info": "Image size: 270px x 270px "
    },
    {
      "id": "uway_enable_product",
      "type": "checkbox",
      "label": "Enable Product Widget",
      "default": false
    },
    {
      "id": "uway_post_title_custom",
      "type": "text",
      "label": "Title Custom"
    },
    {
      "id": "uway_post_categories",
      "type": "text",
      "label": "Blog Categories"
    }
  ],
  "blocks":[
    {
      "type":"image",
      "name":"Image block",
      "settings":[
        {
          "type":"image_picker",
          "id":"image",
          "label":"Image",
          "info":"2000 x 700px width recommended."
        }
      ]
    }
  ]
}
{% endschema %}
