{{ 'section-blog-posts-location.css' | asset_url | stylesheet_tag }}
{% comment %}<b>06</b>{% endcomment %}
{% capture icon_caret %}
  <svg aria-hidden="true" focusable="false" role="presentation" class="icon-caret" viewBox="0 0 10 6">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
  </svg>
{% endcapture %}
{% capture icon_geo_alt %}
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
    <path
        d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
  </svg>
{% endcapture %}

{% assign locs = blogs.locations.articles %}
{% assign tags = blogs.locations.all_tags | uniq %}

<div id="locations_wrapper" style="margin-bottom: {{ section.settings.padding_btm }}px;">
  <div class="container">
    <div class="text_center collection-wrapper">
      <h2 class="collection-header__title w100">{{ section.settings.instore_title }}</h2>
      <div class="sticky-desc w100">{{ section.settings.instore_description }}</div>
      <div class="select">
        <select name="states" id="states" class="select__select">
          <option value="">Select State/City</option>
          {% for tag in tags %}
            {% assign tag_handle = tag | replace: " ", "-" %}
            <option value="{{ tag_handle }}">{{ tag | replace: "_", ", " }}</option>
          {% endfor %}
        </select>
        {{ icon_caret }}
      </div>
    </div>
    <div id="location_localities">
      {% for tag in tags %}
        {% assign tag_handle = tag | replace: " ", "-" %}
        <a href="/blogs/locations/tagged/{{ tag_handle }}" target="_blank">
          <div data-locality="{{ tag }}">{{ tag | replace: "_", ", " }}</div>
        </a>
      {% endfor %}
      {% comment %}{% for block in section.blocks %}
        <li>
          <img src="{{ 'location.png' | asset_url }}" />
          <p class="title_store">{{ block.settings.title_store }}</p>
          <div class="address_store">
            <div class="title">Address:</div>
            <div class="desc">
              <a href="{{ block.settings.link_store }}" target="_blank">{{ block.settings.address_store }} </a>
            </div>
          </div>
          <div class="website_store">
            <div class="title">Website:</div>
            <div class="desc">
              <a href="{{ block.settings.link_website }}" target="_blank">{{ block.settings.address_website }}</a>
            </div>
          </div>
        </li>
      {% endfor %}{% endcomment %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Blog Posts Locations",
  "class": "locations_wrapper_class",
  "max_blocks": 1,
  "settings": [
    {
      "type": "text",
      "id": "instore_title",
      "label": "Heading text",
      "default": "Locations"
    },
    {
      "type": "richtext",
      "id": "instore_description",
      "label": "Subheading",
      "default": "<p>Please find all our presences below</p>"
    },
    {
      "type": "number",
      "id": "padding_btm",
      "label": "Margin bottom",
      "default": 100
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Locations",
      "settings": [
        {
          "type": "text",
          "id": "title_store",
          "label": "Store title"
        },
        {
          "type": "richtext",
          "id": "address_store",
          "label": "Address",
          "default": "<p>Store address</p>"
        },
        {
          "type": "text",
          "id": "link_store",
          "label": "Link map store",
          "default": "#"
        },
        {
          "type": "text",
          "id": "address_website",
          "label": "Store's Website display text"
        },
        {
          "type": "text",
          "id": "link_website",
          "label": "Store's Website url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Locations",
      "settings": {}
    }
  ],
  "templates": [
    "article",
    "collection",
    "list-collections",
    "page",
    "search"
  ]
}
{% endschema %}
