{{ 'section-collection-list.min.css' | asset_url | stylesheet_tag }}

<section class="homepage-sections-wrapper">

  <div class="container">
    <div class="row">
      <div class="page-width col-md-12">

        {% if section.settings.title != blank or section.settings.subheading != blank %}
          <div class="title-bar custom-font">
            {% if section.settings.subheading != blank %}
              <h3 class="type-subheading type-subheading--1 wow{% if section.settings.subheading != blank %} typography--padding-bottom{% endif %}">{{ section.settings.subheading | escape }}</h3>
            {% endif %}
            {% if section.settings.title != blank %}
              <h2 class="wow">{{ section.settings.title | escape }}</h2>
            {% endif %}
          </div>
        {% endif %}

        <div class="collection-grid">
          <div class="row">
            {% for block in section.blocks limit: section.blocks.size %}
              <article class="indiv-collection-grid-homepage wow col-sm
                {%- case section.blocks.size -%}
                  {% when 2 %}
                    {% cycle 'mobileCycle': ' alpha', ' omega' %}
                  {% when 3 %}
                    {% cycle 'mobileCycle': ' alpha', '', ' omega' %}
                  {% when 4 %}
                    {% cycle 'mobileCycle': ' alpha', '', '', ' omega' %}
                {%- endcase -%}
                " {{ block.shopify_attributes }}>
                  {%- assign collection = collections[block.settings.collection] -%}

                {%- assign image_size = '600x' -%}

                <div class="homepage-collection-grid-inner">
                  <div class="grid-image">
                    <div class="grid-image--centered">
                      {% if collection == empty %}
                        {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                        {{ 'collection-' | append: current | placeholder_svg_tag: 'icon--placeholder' }}
                      {% else %}
                        {% if collection.image %}
                          {% render 'responsive-image' with collection, alt: collection.image.alt %}
                          {% else %}
                          {% assign product = collection.products | first %}
                          {% render 'responsive-image' with product.media[0].preview_image, alt: product.featured_image.alt %}
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                </div>

                <div class="hp-title homepage-collection-link">
                {% if collection == empty %}
                  <h3 class="type-subheading type-subheading--1">
                    <a href="#">{{ 'general.onboarding.collection_title' | t }}</a>
                  </h3>
                {% else %}
                  <h3 class="type-subheading type-subheading--1">
                    <a href="{{ collection.url }}">{{ collection.title }}</a>
                  </h3>
                {% endif %}
                </div>
              </article>
            {% endfor %}
          </div>
        </div>

        {% if section.blocks.size == 0 %}
          <div class="placeholder-noblocks">
            {{ 'general.onboarding.no_content' | t }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
    "name": {
        "en": "Collection list",
        "de": "Kollektionsliste",
        "es": "Lista de colecciones",
        "fr": "Liste des collections",
        "pt-PT": "Lista da coleção"
    },
    "class": "homepage-section--featured-collections-wrapper wow",
    "max_blocks": 12,
    "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": {
            "en": "Subheading",
            "de": "Unterüberschrift",
            "es": "Subencabezado",
            "fr": "Sous-rubrique",
            "pt-PT": "Subtítulo"
          }
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "en": "Heading",
            "de": "Überschrift",
            "es": "Encabezado",
            "fr": "Rubrique",
            "pt-PT": "Título"
          }
        }
    ],
    "blocks": [
        {
            "type": "featured_collection",
            "name": {
                "en": "Collection",
                "de": "Kollektion",
                "es": "Colección",
                "fr": "Collection",
                "pt-PT": "Coleção"
            },
            "limit": 6,
            "settings": [
                {
                    "label": {
                        "en": "Collection",
                        "de": "Kollektion",
                        "es": "Colección",
                        "fr": "Collection",
                        "pt-PT": "Coleção"
                    },
                      "id": "collection",
                      "type": "collection"
                    }
            ]
        }
    ],
    "presets": [
        {
            "name": {
                "en": "Collection list",
                "de": "Kollektionsliste",
                "es": "Lista de colecciones",
                "fr": "Liste des collections",
                "pt-PT": "Lista da coleção"
            },
            "category": {
                "en": "Collection",
                "de": "Kollektion",
                "es": "Colección",
                "fr": "Collection",
                "pt-PT": "Coleção"
            },
            "blocks": [
                {
                    "type": "featured_collection"
                },
                {
                    "type": "featured_collection"
                },
                {
                    "type": "featured_collection"
                }
            ]
        }
    ],
    "templates": [
      "404",
      "article",
      "blog",
      "cart",
      "collection",
      "index",
      "page",
      "password",
      "product",
      "search"
    ]
}
{% endschema %}
