{{ 'bootstrap-grid.css' | asset_url | stylesheet_tag }}
{{ 'bsicon.css' | asset_url | stylesheet_tag }}
{{ 'choices.min.css' | asset_url | stylesheet_tag }}
{{ 'sweetalert2.min.css' | asset_url | stylesheet_tag }}
{{ 'bb.css' | asset_url | stylesheet_tag }}


{% schema %}
{
  "name": "Product bp page",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

<div id="bb_wrapper" class="bb_wrapper">
  <div class="step" step="1"><span class="left"><span class="step_num">1</span>CHOOSE YOUR BASE</span>
    <span class="right"><span id="box_size_wrapper"><span id="box_size" class="pbase jd_base"></span></span>
                  <span id="edit_size_btn_wrapper">
                    <button type="button" class="btn" id="edit_size_btn" style="display: none">EDIT BASE</button></span>
                  <select class="button btn choices" id="change_box_btn" data-placeholder="EDIT SIZE">Edit Size
                  <option value="CHOOSE YOUR BASE" selected="selected">Edit Your Base</option>
                  <option value="vanilla">Vanilla</option>
                  <option value="coffee">Coffee</option>
                  <option value="chocolate">Chocolate</option>
                  <option value="strawberry">Strawberry</option>
                  </select></span>
  </div>
  <div id="sizes">

  </div>

  <div class="step" step="2"><span class="left step_num">2</span><span class="left">CHOOSE YOUR MIX-INS</span><span class="right"><span id="is_box_filled"></span>
                <button type="button" class="button btn" id="edit_your_box_btn" style="display: none">Edit Your Pint</button></span></div>
  <div id="step2_wrapper" class="row w100">
    <div id="box_content" class="col col-12 col-lg-5" size="6">
      <div class="f_none"><span class="jd_base">Vanilla</span> Base</div>
      <div><a id="change_box_size_a">Edit Your Base</a></div>
      <div class="loader"></div>
      <div class="bc_wrapper_sticky">
        <div class="bc_wrapper">
          <div class="selected_f_wrapper">
            <div class="selected_f"><span class="del"></span></div>
            <div class="selected_f"><span class="del"></span></div>
            <div class="selected_f"><span class="del"></span></div>
            <div class="selected_f"><span class="del"></span></div>
            <div class="selected_f"><span class="del"></span></div>
          </div>
        </div>
        <button type="button" class="cont_next_step button btn mt-2 cont_step_3">Continue Next Step</button>
      </div>
    </div>
    <div id="box_content_m_wrapper">
      <div class="bigtext">You can have up to 5 min-ins!</div>
      <div class="subtitle">Click on toppings below to mix into your base</div>
      <div id="box_content_m" class="col">
        <div class="bc_wrapper_m" style="width: 348px; max-width: 348px">
          <div class="selected_f_wrapper">
            <div class="selected_f"><span class="del"></span></div>
            <div class="selected_f"><span class="del"></span></div>
            <div class="selected_f"><span class="del"></span></div>
            <div class="selected_f"><span class="del"></span></div>
            <div class="selected_f"><span class="del"></span></div>
          </div>
        </div>
        <button type="button" class="cont_next_step button btn mt-2 cont_step_3">Continue Next Step</button>
      </div>
    </div>
    <div id="flavors_border_m" class="gradient_borderline"></div>
    <div id="flavor_picker" class="col ">
      <div class="bigtext">You can have up to 5 mix-ins!</div>
      <div class="subtitle">Click on toppings below to mix into your base</div>
      <ul id="f_tags" class="Blog__TagList HorizontalList HorizontalList--spacingExtraLoose">
        <li class="HorizontalList__Item">
          <a class="Heading is-active Link Link--primary Text--subdued u-h8 ">all</a>
        </li>
        <li class="HorizontalList__Item">
          <a class="Heading Link Link--primary Text--subdued u-h8 ">fruits</a>
        </li>
        <li class="HorizontalList__Item">
          <a class="Heading Link Link--primary Text--subdued u-h8 ">crispy</a>
        </li>
        <li class="HorizontalList__Item">
          <a class="Heading Link Link--primary Text--subdued u-h8 ">sweet</a>
        </li>
      </ul>
      <div id="flavors">
      </div>
      <div id="detail_wrapper" data-f="1" style="display: none" class="modal">
        <button type="button" class="tiny del modal_close_btn" id="dtl_close"></button>
        <div id="detail" class="row">
          <div class="col-4">
            <img id="dtl_img" src="https://cdn.shopify.com/s/files/1/0523/0051/3467/files/f1.webp?v=1659677856" alt="detail">
          </div>
          <div class="col-8">
            <span id="dtl_heading"></span>
            <p id="dtl_description"></p>
            <button id="dtl_select" type="button" class="btn">Select</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div id="step_sleeve" class="step" step="3"><span class="left"><span class="step_num">3</span> CHOOSE YOUR LABEL</span>
    <span class="right"><span class="jd_sleeve_picked"></span>&nbsp;
                                                <button type="button" class="btn" id="change_sleeve_btn" style="display: none">Change Label</button></span></div>
  <div id="step3_wrapper" class="row w100">
    <div id="label_designer" class="col-12 col-lg-5">
      <div><span class="jd_num_slot_filled">0</span> Mix-Ins</div>
      <div><a href="#step2_wrapper" onclick="$('#step2_wrapper').show()">Edit Your Mix-Ins</a></div>
      <div class="">
        <div class="label_wrapper">
          <div class="selected_l_wrapper">
            <img id="selected_l" class="w100" src="{{ 'white_dot.svg' | asset_url }}" alt="sleeve">
          </div>
        </div>
      </div>
      <button id="cont_step_4" type="button" class="cont_next_step btn mt-2 cont_step_4">Continue</button>
    </div>
    <div id="sleeve_wrapper" class="col">
      <div class="mb-5 d-none d-lg-block">Click on a label below to complete your pint design</div>
      <div id="sleeve_border_m" class="gradient_borderline"></div>
      <ul id="l_tags" class="Blog__TagList HorizontalList HorizontalList--spacingExtraLoose">
        <li class="HorizontalList__Item">
          <a class="Heading is-active Link Link--primary Text--subdued u-h8 ">all</a>
        </li>
        <li class="HorizontalList__Item">
          <a class="Heading Link Link--primary Text--subdued u-h8 ">congrats</a>
        </li>
        <li class="HorizontalList__Item">
          <a class="Heading Link Link--primary Text--subdued u-h8 ">birthday</a>
        </li>
        <li class="HorizontalList__Item">
          <a class="Heading Link Link--primary Text--subdued u-h8 ">anniversary</a>
        </li>
      </ul>
      <div id="sleeves">
      </div>
    </div>
  </div>
  <div id="prod_summary">
    <div>
      <span id="prod_name" class="text_bold">Build Your Own Box 6</span><b>: </b>
      <span id="price">$120.00</span>
    </div>
    <div id="sum_flavors">Mix-ins picked: <span></span></div>
    <div id="sum_sleeve">Label chosen: <span class="jd_sleeve_picked"></span></div>
    <button type="button" class="ProductForm__AddToCart btn" id="add_to_cart_btn"><span>Add to cart</span>
    </button>
  </div>

  <!--                <div id="all_filled_modal" class="modal">-->
  <div id="all_filled_modal" class="modal" style="display: none">
    <button type="button" class="tiny del modal_close"></button>
    <div id="modal_cont" class="row">
      <p class="col-12 text_center md_heading">You have filled up your pint</p>
      <p class="col-12 text_center md_subtitle_big"><span class="jd_num_slot_filled">5</span> mixins selected</p>
      <div class="row">
        <div class="btn_wrapper col-12 col-lg-8">
          <button class="edit_box_btn btn reverse" type="button">Edit your selections</button>
        </div>
        <!--                      <button class="button clear_selections" type="button">Clear your selections</button>-->
        <div class="btn_wrapper col-12 col-lg-4">
          <button class="add_to_cart modal_close_btn btn cont_step_3" type="button">Continue</button>
        </div>
      </div>
    </div>
  </div>
  <!--                <div id="all_filled_modal" class="modal">-->
  <div id="edit_my_box_modal" class="modal" style="display: none">
    <button type="button" class="tiny del modal_close modal_close_btn" id="edit_my_box_modal_close"></button>
    <div class="modal_cont row">
      <p class="col-12 text_center md_heading">Edit My Pint</p>
      <p class="col-12 text_center md_subtitle_big"><span class="jd_num_slot_filled">5</span> of <span class="jd_num_mixins">5</span> mixins selected</p>
      <div id="edpop_wrapper">

      </div>
      <div>
        <button id="edpop_cont_step_3" class="modal_close_btn btn cont_step_3" type="button" disabled="disabled">Continue</button>
      </div>
    </div>
  </div>


</div>
<script src="{{ 'constant.js' | asset_url }}" type="application/javascript"></script>
<script src="{{ 'choices.min.js' | asset_url }}" type="application/javascript"></script>
<script src="{{ 'sweetalert2.min.js' | asset_url }}" type="application/javascript"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{{ 'bb.js' | asset_url }}" type="application/javascript"></script>


{% javascript %}
{% endjavascript %}
