<section class="section section--{{ section.id }}" data-section-id="{{ section.id }}" style="padding-top:{{ section.settings.padding_top }}px">
  <h4>{{ section.settings.heading }}</h4>
  {% for block in section.blocks %}
      <div class="container-full">
        <div class="sidebar_item">
            <div class="home-custom__item-link">
              <a href="{{ block.settings.link }}" class="link link--arrow">{{ block.settings.title | escape }}</a>
            </div>
        </div>
      </div>
  {% endfor %}
</section>

{% schema %}
{
  "name": "sidebar",
  "class": "js-section__sidebar",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading Text",
      "default": "Sidebar Heading"
    },
    {
      "type": "number",
      "id": "padding_top",
      "label": "Padding Top, in pixel"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Text"
        },
        {
          "type": "text",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ]
}
{% endschema %}
