//@media (max-width: 1007px) {
//}

$yellow: #B79561;
$yellow_bright: #F7C591;
$yellow_dark: #775521;
$grey: #8A8A8A;
$grey_dark: #737373;
$black: #41200E;
//$blue: blue;
$blue: #58c7df;
$blue_light: #88f7ff;
$primary: $blue;
$primary_light: $blue_light;
$primary_lighter: #69d7ef94;
$secondary: #ffc10882;
$subtitle_color: #59c7e0;

:root {
  --primary: #58c7df;
  --whirl_second: #f9690e;
  --button-background: #58c7df;
}
/* undo BS, overwrite libraries */

.row{margin-left: 0; margin-right: 0}
.col{margin-right: 0; padding-right: 0}
.is-open .choices__list--dropdown, .is-open .choices__list[aria-expanded]{
  border-color: black;
}
.choices__list--dropdown .choices__item,.choices__list[aria-expanded] .choices__item{font-size: 1.15rem;}
div.choices{color: black;}
/* undo BS, overwrite libraries END */
/* fix shopify */
#shopify-section-footer {    float: left;width: 100%; }
button{border: none;}
img{max-width: inherit}
.Button--secondary{color: white !important}
.btn{margin-top: 0}
li{display: inline-flex;}
.RoundButton--small svg{height: 14px; width: 14px;}
button, button.tiny {
  outline: none;
}
#main-body{
  overflow: inherit;
}
.modal{height: inherit;}
/**
 * ----------------------------------------------------------------------------
 * Page overlay
 * ----------------------------------------------------------------------------
 */
.PageOverlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  background: #363636;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.PageOverlay.is-visible {
  opacity: 0.5;
  visibility: visible;
}
/* fix shopify END */

#bb_wrapper {
  width: 100%;
  float: left;
  font-family: "New York", "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-top: 10px;
  margin-bottom: 50px;
  padding-left: 3px; padding-right: 3px;
}

/* Utilities*/
.w100 {
  width: 100%
}
.text_center{
  text-align: center;
}
.text_bold{ font-weight: bold}
.br{display:inline-block; width: 100%; height: 50px;}

div.f_none, .f_none, #bb_wrapper .f_none {
  float: none;
}
.bi{color: $primary}/*bootstrap icons*/
.btn_wrapper > button{width: 100%;}
/* Utilities END*/
.col-05 {
  flex: 0 0 auto;
  width: 4.166666665%;
}

.clickable{cursor: pointer}
button.del{
  background-image: url("x-circle-fill_blue_whitebg.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: inline-block;
  background-size: 30px 30px;
  border: none;
}

button.detail_f {
  border-style: solid;
  border-width: 1px;
}

span.del {
  background-image: url("x-circle-fill_blue_whitebg.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  position:relative;
  top: 35px;
  left: 30px;
  display: inline-block;
  background-size: 30px 30px;
  opacity: 0;
  box-shadow: 0 2px 10px #36363626
}

a#change_box_size_a {
  border-bottom: dotted 1px green;
  cursor: pointer
}
summary.description-block__header{display: none}
.bb_wrapper button,.swal2-container button, .bb_wrapper select.button, .bb_wrapper span.select2-selection--single {
  background-color: $blue;
  position: relative;
  display: inline-block;
  padding: 10px 15px;
  //color: white;
  line-height: normal;
  //border: 1px solid transparent;
  //border-radius: 0;
  text-transform: uppercase;
  font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 12px));
  text-align: center;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  font-style: var(--heading-font-style);
  transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
  -webkit-tap-highlight-color: initial;

  &.reverse {
    background-color: white;
    border-color: $primary;
    border-width: 1px;
    border-style: solid;
    color: $primary;
  }

  &:hover {
    opacity: 0.6;
  }

  &[disabled] {
    background-color: #cccccc;
    color: #666666;
  }
}

.bigtext {
  font-size: 110%;
  font-weight: bold;
}
.subtitle{
  margin-bottom: 40px;
}

/**************** loader https://whirl.netlify.app/  */

.basic:before {
  content: '';
  display: block;
  height: 50px;
  width: 50px;
  -webkit-animation: spin .5s infinite linear;
  animation: spin .5s infinite linear;
  border: 6px var(--primary) solid;
  border-left-color: var(--whirl_second);
  border-radius: 100%;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/**************** loader END */

/**
Add this to the container. Overlay
 */
#loading {
  opacity: 0.7;
  filter: alpha(opacity=20);
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
  justify-content: center;
  display: flex;
  padding-top: 200px;
}

.step {
  float: left;
  font-size: 125%;
  width: 100%;
  text-transform: capitalize;
  background-color: $secondary;
  border: 1px solid $primary;
  border-radius: 24px;
  padding: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  & > span{
    display: inline-block;
    height: 35px;
    line-height: 35px;
    //vertical-align: middle;
  }
  & span.left {
    color: #000000;
    text-transform: uppercase;
  }
  & span.right {
    float: right;
    color: $grey;
  }
  //& span.right { better account for height
  //  float: none;
  //text-align: right;
  //}

  button, select.button, select.select2-selection--single {
    font-size: 50%;
    line-height: 14px;
    vertical-align: top;
    padding: 10px 7px;
    font-weight: bold;
  }
}
//#box_size_wrapper{margin-right: 120px}/*save for Edit Box dropdown*/
/* choicesjs */
div.choices__inner{display: none;}
 div.choices{position: absolute; width: 30vw; right: 2%}
@media (max-width: 1007px) {
 div.choices{position: absolute; width: 95vw; left: 2.5%}
}
div.choices__inner{width: 120px; float: right;
  font-family: var(--heading-font-family);
font-size: 78%;
    line-height: 14px;
    vertical-align: top;
    padding: 0;
    font-weight: bold;
    color: white;
    background: $primary;
    height: 28px;
  min-height: 28px;
  max-height: 28px;
}
.choices__list.choices__list--single .choices__item.choices__item--selectable{
  line-height: 28px;
  background-image: url('caret_down.svg');
}

.choices__list.choices__list--dropdown {
  margin-top: 8px;
  z-index: 2;
}

.choices__list--single{
  padding: 0;
}
.choices[data-type*=select-one]::after{
  display: none;
}
/* choicesjs end */
#edit_size_btn_wrapper::before{
}
#edit_size_btn{width: 136px;text-align: left}
#edit_size_btn::after{
  content:'aa';
  color: transparent;
  background-image: url('caret_down.svg');
  background-repeat: no-repeat;
  background-position: right 6px center;
}
#caret_wrapper{
  height: 28px;
}
#caret_down{
  height: 10px;
  position: absolute;
  right: 32px;
  z-index: 2;
  margin-top: 6px;
}
#edit_size_btn_wrapper.dropdown_open #caret_down{
  transform: rotate(180deg);
}
@media (max-width: 1007px) {
  .step{
    background-color: $secondary;
    font-size: 130%;
    text-transform: uppercase;
    text-align: center;
    padding: 4px;
    & span.step_num {

    }
    & span.right{text-transform: none;line-height: 23px;

    }
    button, select.button, select.select2-selection--single, span.select2-selection--single {
      margin-left: 30px;
      line-height: 5px;
    }
  }
}
//span.select2.select2-container{width: 150px !important;}
span.select2.select2-container.select2-container--default{width: 150px !important;}
span.select2-dropdown{
  position: fixed;
  width: 90vw !important;
  left: 5% !important;
  margin-top: 8px;
}
span.select2-dropdown, ul.select2-results__options{border-radius: 14px !important;}
.select2-container--default .select2-selection--single{border: 0; border-radius: 0;}
.select2-container .select2-selection--single .select2-selection__rendered{padding:0}
span.select2-selection__rendered{
  color: white !important;
  line-height: 27px !important;
  top: 0;
  margin-top: -9px;
  font-size: 70%;
  font-weight: bold;
  font-style: var(--heading-font-style);
}
span.step_num {
  margin-right: 10px;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 18px;
  width: 35px;
  display: inline-block;
  text-align: center;
    font-size: 130%;
    font-weight: bold;
}

div#sizes {
  float: left;
  width: 100%;
}

div.size {
  width: 25%;
  float: left;
  padding: 20px 20px;
  text-align: center;

  div {
    float: initial;
  }

  & img {
    width: 100%;
  }
}
@media (max-width: 1007px) {
  div.size {
    width: 50%;
    padding: 8px 8px;
  }
}
#box_content_m{
  padding:0;
  height: 350px;
  & button.cont_next_step {
    position: sticky;
    left: 0
  }}

.bc_wrapper_sticky {  position: sticky;  top: 10px;}
.bc_wrapper {
  margin-top: 100px;
  height: 322px;
}

.bc_wrapper_m {
  margin-top: 20px;
  border: none;
}

.bc_wrapper div {
  //margin: 5px;
}
div.selected_f_wrapper {
  width: 322px;
  height: 322px;
  border-radius: 170px;
  border:1px solid $primary;
  margin: 0 auto;
  position: relative;
}

div.selected_f {
  position: absolute;
  width: 100px;
  height: 100px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  border-color: $primary;
  background-size: cover;
  cursor: pointer;
  &:first-child{
    top:32px;
    left:50px;
  }
  &:nth-child(2){
    top:25px;
    left:162px;
  }
  &:nth-child(3){
    top:129px;
    left:195px;
  }
  &:nth-child(4){
    top:205px;
    left:116px;
  }
  &:nth-child(5){
    top:136px;
    left:28px;
  }
  &:not([data-f]), &[data-f="-1"] {
    //background: linear-gradient(to right, $primary, $primary_light);
    background: linear-gradient(to right, #59c7e0a6, #ffca3782);

    & > span.del {
      opacity: 0;
    }
  }

  & > button {
    left: 34px;
    background: transparent;
    top: 41px;
    display: none;

    &:hover {
      display: inherit;
      opacity: 1;
    }
  }

  &:hover > span.del {
    opacity: 1;
  }

  &:not([data-f]):hover > span.del, &[data-f="-1"]:hover > span.del {
    display: inherit;
    opacity: 0;
  }
}
@media (max-width: 1007px) {
  div.selected_f {
    border: none;
    display: inline-block;

    & > span.del {
      opacity: 1;
      height: 20px;
      width: 20px;
      top: 38px;
      left: 41px;
      position: relative;
      background-size: 20px 20px;
    }
    &[data-f="-1"] > span.del{opacity: 0}
  }
}

div.selected_f[data-f="1"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0426/3070/9407/files/caramel.png?v=1663037835");
}

div.selected_f[data-f="2"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0426/3070/9407/files/fudge.png?v=1663037836");
}

div.selected_f[data-f="3"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0426/3070/9407/files/chocolate_chip.png?v=1663037836");
}

div.selected_f[data-f="4"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0426/3070/9407/files/apple_pie.png?v=1663037835");
}

div.selected_f[data-f="5"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0426/3070/9407/files/bananas.png?v=1663037835");
}

div.selected_f[data-f="6"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0426/3070/9407/files/blueberries.png?v=1663037834");
}

div.selected_f[data-f="7"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0426/3070/9407/files/brownies.png?v=1663037835");
}

div.selected_f[data-f="8"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0426/3070/9407/files/peanut_butter.png?v=1663037836");
}

div.selected_f[data-f="9"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0426/3070/9407/files/strawberries.png?v=1663037837");
}

div.selected_f[data-f="10"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0426/3070/9407/files/reeses.png?v=1663037837");
}

div.selected_f[data-f="11"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0426/3070/9407/files/pecans.png?v=1663037836");
}

div.selected_f[data-f="12"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0426/3070/9407/files/pie_crust.png?v=1663037836");
}

div.selected_f[data-f="13"] {
  background-image: url("https://cdn.shopify.com/s/files/1/0426/3070/9407/files/coconut.png?v=1663037836");
}

button#cont_next_step{
  float: right;
}

#box_content{flex: 0 0 auto;}
/*
#box_content[size="6"], #box_content[size="9"], #box_content[size="12"], #box_content[size="24"] {
  width: 41.66666667%;
  + #flavor_picker{
    width: 58%;
  }
}
*/
#box_content[size="12"] div.selected_f, #box_content[size="24"] div.selected_f{width: 100px; height: 100px}
#box_content[size="20"] {
  width: 50%;
  + #flavor_picker{
    width: 49%;
  }
  div.selected_f{width: 100px; height: 100px}
}
@media (min-width: 1007px) {
  #box_content {
    display: block;
  }
  #box_content_m_wrapper {
    display: none;
  }
}
@media (max-width: 1007px) {
  div.subtitle{margin-bottom: 0;}
  #box_content {
    display: none;
  }
  #box_content_m_wrapper {
    display: block;
    margin-bottom: 30px;
  }
}

@media (max-width: 1007px) {
  #flavor_picker {width:100%; flex:none;
  & > div.bigtext, & > div.subtitle {display: none}
  }
}

#f_tags, #l_tags {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  a{padding: .5rem .75rem; text-decoration: none}
  a.Heading{text-transform: capitalize; cursor: pointer}
  a.is-active{background-color: $primary_lighter}
}

#flavors{display: flex; flex-wrap: wrap;justify-content: center}
@media (min-width: 1007px) {
  #cont_step_3_below_flavor{display: none !important;}
}
@media (max-width: 1007px) {
  #flavors{max-height: 471px;overflow: scroll;}
}
button.RoundButton {
  position: absolute;
  padding: 0;
  width: 25px;
  height: 25px;
  top: 19px;
  right: 5px;
  border: none;
  border-radius: 50%;
  background: var(--button-background);
  color: var(--button-text-color);
  cursor: pointer;
  text-align: center;
  z-index: 1;
  box-shadow: 0 2px 10px #36363626;
  vertical-align: middle;
  line-height: 0;
  transform: scale(1.001);
  transition: background .15s ease-in-out,opacity .15s ease-in-out,transform .2s ease-in-out,color .2s ease-in-out;
  overflow: hidden;
}
@media (min-width: 1007px) {
  button.RoundButton{display: none}
}
div.flavor {
  width: 25%;
  position: relative;
  cursor: pointer;
  float: left;
  padding: 5px 0 5px 5px;
  text-align: center;

  & > img {
    width: 100%;
    &:hover {
      opacity: 0.8
    }
  }
  &> span:hover {
    opacity: 0.8;
  }

  & button.add_detail_btn {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    padding: 2px;
  }
  & > span.f_count{
    position: absolute;
    right: 12px;
    top: 20px;
    background-color: $black;
    border-radius: 16px;
    line-height: 20px;
    width: 20px;
    font-size: 0.75rem;
    color: white;
}
}
@media (max-width: 1007px) {
  div.flavor {
    width: 50%;
    & button.add_f.add_detail_btn {
      display: none
    }
    & > span.f_count {
      line-height: 16px;
      width: 16px;
      font-size: 0.6rem;
      left: 12px;
    }
  }

}
.gradient_borderline {display: none}
@media (max-width: 980px) {
  .gradient_borderline {
    display: block;
    background: linear-gradient(to top, $primary 0%, $primary_light 86%);
    height: 7px;
    margin-left: 7px;
    margin-bottom: 15px;
  }
}
span.f_name {
  height: 40px;
  font-size: 1em;
  line-height: 1.1em;
  display: block;
}
@media (max-width: 1007px) {
  span.f_name{height: 60px;}
}
#step_sleeve{    margin-top: 49px;}
#label_designer{float: left;margin-bottom: 12px;}
@media screen and (max-width: 1007px) {
  #label_designer{
  }
}
#sleeve_wrapper{
  float: left;
}
#sleeves{
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 1007px) {
  #sleeves{max-height: 413px; overflow-y: scroll}/* Because the label_f_wrapper will stick */
}
#sum_sleeve{margin-bottom: 20px;}
div.sleeve {
  cursor: pointer;
  width: 20%;
  padding: 20px;
  & > img{
    width: 100%;
  }
}
@media (max-width: 1007px) {
  div.sleeve {
    width: 50%;
    padding: 8px;
  }
}

.center_wrapper{text-align: center; width: 100%;}
button.sleeve_btn {
  margin: 20px auto;
}
button.tiny{
  padding: 2px;
  line-height: 10px;
  letter-spacing: inherit;
}

div.sleeve > img {
}

.modal{
  position: fixed;
  width: 565px;
  border: 1px solid $primary;
  background-color: white;
  z-index: 11;
  top: 50%;
  left: 50%;
  padding: 25px;
  button{margin-top: 20px}
}
.modal_close{border:none !important;border-radius: 0 !important;color: white !important;}
.modal_center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
@media (max-width: 1007px) {
  .modal {
    width: 95%;
    overflow: hidden;
    left: 0;
    padding: 8px;
    margin-left: 2.5%;
    top: 79px;
    margin-top: 0;
  }
}
@media (min-width: 1007px) {
  #edit_my_box_modal{
    left: 0; right: 0; margin: 5% auto; top:0;
  }
}
#all_filled_modal {
    margin-left: -278px;
    margin-top: -660px;
    height: auto;
}

@media (max-width: 1007px) {
  #all_filled_modal {
    margin-left: 2.5%;
    margin-top: inherit;
  }
}

/*Detail popup*/
#detail_wrapper {
  margin-top: -100px;
  margin-left: -270px;
  #dtl_heading{
    font-size: 120%;
    padding-left: 15px;
    display: flex;
    clear: both;
  }
}
@media (max-width: 1007px) {
  #detail_wrapper{margin-top: 0;margin-left: 2.5%;}
}
#detail{
  padding: 25px 0 25px 25px;
  display: flex;
}

@media (max-width: 1007px) {
  #detail{padding: 3px; }
  #detail_wrapper #dtl_heading, #detail_wrapper #dtl_description { padding: 0;}
}
#dtl_description{
  padding: 15px;
}
.modal > button.del, .swal2-container button.del{
  display: block;
  padding: 13px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  top: 4px ;
  right: 11px ;
  position: absolute;
  float: none;
  z-index: 200;
  background-image: url('x-circle-fill_blue_whitebg.svg');
  transition: none;
}
#dtl_select{
  display: flex;
  clear: both;
  padding: 15px;
}
div.gs__wrapper {
  display: none
}
.md_heading{font-size: 120%;}
.md_subtitle_big{font-size: 120%; color: $subtitle_color; font-weight: bold;margin-bottom: 2rem}
#prod_summary{
  float: left;
  width: 100%;
  text-align: center;
  & button{
    width: 250px;
  }
}

.vert_align{
  display: table;
  &>span{
    display: table-cell;
    vertical-align: middle;
  }
  &.zero_selected{
    display: none;
  }
}

/* Edit Popup */
#edpop_wrapper {
  padding: 0;
  max-height: 45vh;
  overflow-y: scroll;

  & > div {
    & > span {
      padding: 0;
      height: 40px;
      text-align: center;
      & > img {
        height: 50px;
      }
      }
    & > span:first-child{
      width: 50px;
    }
    & > span:nth-child(2){
      width: 150px;
    }
  }
}
.label_wrapper{
  margin-top: 48px;
}

@media screen and (max-width: 1007px) {
  .label_wrapper {
    margin-top: 0;
  }
}
div.selected_l_wrapper {
  width: 80%;
  height: auto;
  border-radius: 50%;
  margin: 0 auto;
  padding: 25px;
  border: 8px solid $primary;
}
.jd_base{text-transform: capitalize;}
#edit_my_box_modal{
  max-width: 400px;
  height: auto;
  .md_heading, .md_subtitle_big{margin-block-end: 0}

}
div.modal, div.swal2-modal, .choices__list.choices__list--dropdown{
  border-radius: 24px;
}
.edpop_del {
  color: $grey_dark;
  /*
  height: 30px;
  width: 30px;
  scale: 0.65;
  margin-top:4px !important;
  */
}
#gsAppContainer{display: none !important;}
