/*

Please add any custom CSS code in here, it will be easier to transfer if updating themes.

We highly recommend labelling changes, or App installs, so these can also be updated or removed as needed.

*/
:root{
  --blue: #4ec9ea;
  --heading2-font: Poppins, sans-serif;
  /*--header-font-transform: capitalize; */
}
.blue{color: #4EC9EA}
#main-body{overflow-x: inherit;}
h6{font-size: 1.2rem;}
button, .btn, div[role="button"], .shopify-payment-button .shopify-payment-button__button{border-radius: 24px;}
.quantity-controls button{border-radius: inherit;}
.text_capital{text-transform: capitalize !important;}
select.select__select{padding-top:4px; padding-bottom: 4px;}
i.prod_add_btn{
    position: absolute;
    right: 10px;
    bottom: 20px;
}
.prod_add_div{
    z-index: 2;
}
.top-6 {
    top: 1.5rem;
}
.bottom-6 {
    bottom: 1.5rem;
}
.right-6 {
    right: 1.5rem;
}
.absolute {
    position: absolute;
}

.prod_add_div .show-hover {
    height: 0;
    opacity: 0;
    overflow: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
    width: 0
}

@media (max-width: 1007px) {
    .prod_add_div .show-hover {
        height: 0;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        width: 0
    }
}

.prod_add_div .hide-hover {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    justify-content: center;
    overflow: hidden;
    width: auto
}

.prod_add_div .hide-hover, .prod_add_div .hide-hover .icon-plus {
    opacity: 1;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out
}

.prod_add_div .hide-hover .icon-plus {
    color: #ff4612;
    height: 17px;
    -webkit-transform: scale(1) translateY(-2px);
    transform: scale(1) translateY(-2px);
    width: 17px
}

@media (max-width: 1007px) {
    .prod_add_div .hide-hover {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

@media (min-width: 1007px) {
    .prod_add_div:hover .show-hover {
        height: auto;
        opacity: 1;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-transform: scale(1);
        transform: scale(1);
        width: auto
    }

    .prod_add_div:hover .show-hover .icon-plus {
        height: 0;
        opacity: 0;
        -webkit-transform: scale(0) translateY(-2px);
        transform: scale(0) translateY(-2px);
        width: 0
    }

    .prod_add_div:hover .hide-hover {
        height: 0;
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
        width: 0
    }
}
.py-03{
    padding-bottom: 0.3rem !important;
    padding-top: 0.3rem !important;
}
.px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.flex{display: flex;}

svg.Icon.Icon--plus.prod_add_plus{
    width: 20px;
    height: 20px;
}
.prod_add_div button[type="submit"]{
    border-color: transparent;
    box-shadow: 0 1px 5px #36363626;
}
.indiv-product-title-text{
    font-family: var(--header-font-stack);
}
.indiv-product-title-text{
    text-transform: uppercase;
    font-weight: 900;
}
.slick-dots li button:before{font-size: 12px;}
.slick-dotted.slick-slider{margin-top:0}
@media screen and (max-width: 575px) {
    .index-blog-item--wrapper:not(:first-of-type) {
        margin-top: 5px;
    }
}
@media (max-width: 1007px) {
    .slick-dots{bottom:-50px;}
}
/** Nutrition page **/
.sweeteners__title.h1-custom {
    text-align: center;
    margin-bottom: 40px;
}
.o-ratio {
    position: relative;
    display: block;
    overflow: hidden;
}
.home-promo__content {
    position: relative;
}
.o-layout {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-left: -30px;
    font-size: 0;
}
.o-layout__item {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    font-size: var(--font--size-base);
    font-size: 1rem;
}
.o-ratio--custom:before {
    padding-bottom: 0;
}
#shopify-section-nutrition-our-secret .grid,
#shopify-section-nutrition-differences .grid,
#shopify-section-page-location-local .grid,
#shopify-section-page-location-state .grid,
#shopify-section-page-location-shop .grid {
  margin: 0 auto !important;
}
.section--nutrition-banner .home-promo__item:first-child, .section--our-story-banner .home-promo__item:first-child, .section--page-faq-banner .home-promo__item:first-child, .section--page-location-banner .home-promo__item:first-child{
    padding-top: 0;
    padding-bottom: 0;
}
.grid {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 15px;
      padding: 0 33px;
      margin: 0 auto;
      max-width: 1250px;
  }
  @media screen and (min-width: 768px) {
      .grid {
          grid-template-columns: repeat(12, 1fr);
      }
  }
  .span-1 {
      grid-column: span 1;
  }
  .span-2 {
      grid-column: span 2;
  }
  .span-3 {
      grid-column: span 3;
  }
  .span-4 {
      grid-column: span 4;
  }
  .span-5 {
      grid-column: span 5;
  }
  .span-6 {
      grid-column: span 6;
  }
  .span-all {
      grid-column: 1/-1;
  }
  .order-1 {
      order: 1;
  }
  .order-2 {
      order: 2;
  }
  .order-3 {
      order: 3;
  }
  .order-4 {
      order: 4;
  }
  .order-5 {
      order: 5;
  }
  .order-6 {
      order: 6;
  }
  .order-7 {
      order: 7;
  }
  .order-8 {
      order: 8;
  }
  .order-9 {
      order: 9;
  }
  .order-10 {
      order: 10;
  }
@media screen and (min-width: 768px) {
      .md-order-1 {
          order: 1;
      }
  }
  @media screen and (min-width: 768px) {
      .md-order-2 {
          order: 2;
      }
  }
  @media screen and (min-width: 768px) {
      .md-order-3 {
          order: 3;
      }
  }
  @media screen and (min-width: 768px) {
      .md-order-4 {
          order: 4;
      }
  }
  @media screen and (min-width: 768px) {
      .md-order-5 {
          order: 5;
      }
  }
  @media screen and (min-width: 768px) {
      .md-order-6 {
          order: 6;
      }
  }
  @media screen and (min-width: 768px) {
      .md-order-7 {
          order: 7;
      }
  }
  @media screen and (min-width: 768px) {
      .md-order-8 {
          order: 8;
      }
  }
  @media screen and (min-width: 768px) {
      .md-order-9 {
          order: 9;
      }
  }
  @media screen and (min-width: 768px) {
      .md-order-10 {
          order: 10;
      }
  }
  @media screen and (min-width: 950px) {
      .l-order-1 {
          order: 1;
      }
  }
  @media screen and (min-width: 950px) {
      .l-order-2 {
          order: 2;
      }
  }
  @media screen and (min-width: 950px) {
      .l-order-3 {
          order: 3;
      }
  }
  @media screen and (min-width: 950px) {
      .l-order-4 {
          order: 4;
      }
  }
  @media screen and (min-width: 950px) {
      .l-order-5 {
          order: 5;
      }
  }
  @media screen and (min-width: 950px) {
      .l-order-6 {
          order: 6;
      }
  }
  @media screen and (min-width: 950px) {
      .l-order-7 {
          order: 7;
      }
  }
  @media screen and (min-width: 950px) {
      .l-order-8 {
          order: 8;
      }
  }
  @media screen and (min-width: 950px) {
      .l-order-9 {
          order: 9;
      }
  }
  @media screen and (min-width: 950px) {
      .l-order-10 {
          order: 10;
      }
  }
  @media screen and (min-width: 420px) {
      .sm-span-1 {
          grid-column: span 1;
      }
  }
  @media screen and (min-width: 420px) {
      .sm-span-2 {
          grid-column: span 2;
      }
  }
  @media screen and (min-width: 420px) {
      .sm-span-3 {
          grid-column: span 3;
      }
  }
  @media screen and (min-width: 420px) {
      .sm-span-4 {
          grid-column: span 4;
      }
  }
  @media screen and (min-width: 420px) {
      .sm-span-5 {
          grid-column: span 5;
      }
  }
  @media screen and (min-width: 420px) {
      .sm-span-6 {
          grid-column: span 6;
      }
  }
  @media screen and (min-width: 420px) {
      .sm-span-7 {
          grid-column: span 7;
      }
  }
  @media screen and (min-width: 420px) {
      .sm-span-8 {
          grid-column: span 8;
      }
  }
  @media screen and (min-width: 420px) {
      .sm-span-9 {
          grid-column: span 9;
      }
  }
  @media screen and (min-width: 420px) {
      .sm-span-10 {
          grid-column: span 10;
      }
  }
  @media screen and (min-width: 420px) {
      .sm-span-11 {
          grid-column: span 11;
      }
  }
  @media screen and (min-width: 420px) {
      .sm-span-12 {
          grid-column: span 12;
      }
  }
  @media screen and (min-width: 768px) {
      .md-span-1 {
          grid-column: span 1;
      }
  }
  @media screen and (min-width: 768px) {
      .md-span-2 {
          grid-column: span 2;
      }
  }
  @media screen and (min-width: 768px) {
      .md-span-3 {
          grid-column: span 3;
      }
  }
  @media screen and (min-width: 768px) {
      .md-span-4 {
          grid-column: span 4;
      }
  }
  @media screen and (min-width: 768px) {
      .md-span-5 {
          grid-column: span 5;
      }
  }
  @media screen and (min-width: 768px) {
      .md-span-6 {
          grid-column: span 6;
      }
  }
  @media screen and (min-width: 768px) {
      .md-span-7 {
          grid-column: span 7;
      }
  }
  @media screen and (min-width: 768px) {
      .md-span-8 {
          grid-column: span 8;
      }
  }
  @media screen and (min-width: 768px) {
      .md-span-9 {
          grid-column: span 9;
      }
  }
  @media screen and (min-width: 768px) {
      .md-span-10 {
          grid-column: span 10;
      }
  }
  @media screen and (min-width: 768px) {
      .md-span-11 {
          grid-column: span 11;
      }
  }
  @media screen and (min-width: 768px) {
      .md-span-12 {
          grid-column: span 12;
      }
  }
  @media screen and (min-width: 950px) {
      .l-span-1 {
          grid-column: span 1;
      }
  }
  @media screen and (min-width: 950px) {
      .l-span-2 {
          grid-column: span 2;
      }
  }
  @media screen and (min-width: 950px) {
      .l-span-3 {
          grid-column: span 3;
      }
  }
  @media screen and (min-width: 950px) {
      .l-span-4 {
          grid-column: span 4;
      }
  }
  @media screen and (min-width: 950px) {
      .l-span-5 {
          grid-column: span 5;
      }
  }
  @media screen and (min-width: 950px) {
      .l-span-6 {
          grid-column: span 6;
      }
  }
  @media screen and (min-width: 950px) {
      .l-span-7 {
          grid-column: span 7;
      }
  }
  @media screen and (min-width: 950px) {
      .l-span-8 {
          grid-column: span 8;
      }
  }
  @media screen and (min-width: 950px) {
      .l-span-9 {
          grid-column: span 9;
      }
  }
  @media screen and (min-width: 950px) {
      .l-span-10 {
          grid-column: span 10;
      }
  }
  @media screen and (min-width: 950px) {
      .l-span-11 {
          grid-column: span 11;
      }
  }
  @media screen and (min-width: 950px) {
      .l-span-12 {
          grid-column: span 12;
      }
  }
  @media screen and (min-width: 768px) {
      .md-start-1 {
          grid-column: 1/-1;
      }
  }
  @media screen and (min-width: 768px) {
      .md-start-2 {
          grid-column: 2/-1;
      }
  }
  @media screen and (min-width: 768px) {
      .md-start-3 {
          grid-column: 3/-1;
      }
  }
  @media screen and (min-width: 768px) {
      .md-start-4 {
          grid-column: 4/-1;
      }
  }
  @media screen and (min-width: 768px) {
      .md-start-5 {
          grid-column: 5/-1;
      }
  }
  @media screen and (min-width: 768px) {
      .md-start-6 {
          grid-column: 6/-1;
      }
  }
  @media screen and (min-width: 768px) {
      .md-start-7 {
          grid-column: 7/-1;
      }
  }
  @media screen and (min-width: 768px) {
      .md-start-8 {
          grid-column: 8/-1;
      }
  }
  @media screen and (min-width: 768px) {
      .md-start-9 {
          grid-column: 9/-1;
      }
  }
  @media screen and (min-width: 768px) {
      .md-start-10 {
          grid-column: 10/-1;
      }
  }
  @media screen and (min-width: 768px) {
      .md-start-11 {
          grid-column: 11/-1;
      }
  }
  @media screen and (min-width: 768px) {
      .md-start-12 {
          grid-column: 12/-1;
      }
  }
  @media screen and (min-width: 768px) {
      .md-span-all {
          grid-column: 1/-1;
      }
  }
  .key {
      display: flex;
      flex-direction: row;
  }
  .key:not(:first-of-type) .key__content {
      border-top: 1px solid rgba(30, 32, 91, 0.1);
  }
  .key:first-of-type .key__icon {
      transform: translateY(2px);
  }
  .key:first-of-type .key__content {
      padding-top: 0;
  }
  .key__icon {
      height: 50px;
      width: 50px;
      min-width: 50px;
      border-radius: 50%;
      border: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      transform: translateY(18px);
  }
  .key__icon--sugar svg {
      transform: scale(1.1);
  }
  .key__icon--keto {
      font-size: 13px;
      text-transform: uppercase;
  }
  @media screen and (min-width: 768px) {
      .key__icon {
          transform: translateY(25px);
          height: 60px;
          width: 60px;
          min-width: 60px;
      }
  }
  .key__content {
      margin-left: 23px;
      padding: 18px 0;
  }
  @media screen and (min-width: 768px) {
      .key__content {
          padding: 23px 0;
          margin-left: 31px;
      }
  }
  .key__title {
      letter-spacing: -0.4px;
      font-weight: 700;
  }
  
  @media screen and (min-width: 768px) {
      .key__title {
          letter-spacing: 0.64px;
      }
  }
  .key__body {
      margin-top: 5px;
  }
  .key__body p {
      margin: 0 !important;
      line-height: 24px;
  }
  
  @media screen and (min-width: 768px) {
      .sweeteners {
          /* padding: 164px 0 111px; */
/*           padding: 60px 0 111px; */
      }
  }
  
  
  .sweeteners__eyebrow {
      margin-bottom: 9px;
  }
  @media screen and (min-width: 768px) {
      .sweeteners__eyebrow {
          margin-bottom: 3px;
      }
  }
  .sweeteners__desc {
      margin: 12px auto 0;
      max-width: 565px;
      line-height: 1.429em;
  }
  
  @media screen and (min-width: 768px) {
      .sweeteners__desc {
          margin-top: 21px;
          font-size: 16px;
          line-height: 1.375em;
      }
  }
  .sweeteners__item {
      height: 200px;
      border: 1px solid #dfdfdf;
      border-radius: 4px;
      overflow: hidden;
  }
  
  @media screen and (min-width: 950px) {
      .sweeteners__item {
          height: 200px;
      }
  }
  .sweeteners__item__content-wrap {
      position: relative;
      height: 100%;
      /* padding: 24px 90px 20px 28px; */
      padding: 20px 90px 20px 18px;
  }
  
  .sweeteners__item__desc {
      margin-top: 9px;
      line-height: 20px;
      /* max-width: 224px; */
      
  }
  @media screen and (min-width: 768px) {
      .sweeteners__item__desc {
          font-size: 16px;
      }
  }
  
  .sweeteners__item__image-wrap {
      position: inherit;
    text-align: center;
    width: auto;
    top: auto;
  }
  .sweeteners__item__image {
      -o-object-position: bottom right;
      object-position: bottom right;
  }
  .sweeteners__carousel {
      margin-top: 70px;
  }
  .sweeteners__carousel .sweeteners__item {
      margin: 0 16px;
  }
  .sweeteners__carousel .slick-track {
      display: flex !important;
  }
  .sweeteners__carousel .slick-slide {
      height: auto;
  }
  .sweeteners__carousel .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 25px;
  }
  .sweeteners__carousel .slick-dots button {
      display: block;
      height: 4px;
      width: 10px;
      border: none;
      background: #b6b6cb;
      font-size: 0;
      border-radius: 5px;
  }
  .sweeteners__carousel .slick-dots .slick-active button {
      width: 30px;
  }
  
  .sweeteners__carousel .slick-dots li:not(:last-child) button {
      margin-right: 5px;
  }
  .sweeteners__carousel .slick-dots li:not(.slick-active) + li:not(.slick-active) {
      display: none;
  }
  .sweeteners__carousel[data-block-count="1"] .slick-dots {
      display: none;
  }
  @media screen and (min-width: 768px) {
      .sweeteners__carousel {
          display: none !important;
      }
  }
  .sweeteners__grid-container {
      margin-top: 70px;
  }
  @media screen and (min-width: 768px) {
      .sweeteners__grid-container {
          display: grid;
      }
  }
  @media screen and (min-width: 1250px) {
      .sweeteners__grid-container {
          margin-top: 93px;
      }
  }
  .sweeteners__grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      gap: 24px;
      margin-left: 0;
  }
  @media screen and (min-width: 950px) {
      .sweeteners__grid {
          grid-template-columns: repeat(2, 1fr);
      }
  }
  .sweeteners__cta-wrap {
      margin-top: 45px;
  }
  
  .sweeteners__subtitle {
      margin-bottom: 22px;
      line-height: 1.375em;
  }
  @media screen and (min-width: 768px) {
      .sweeteners__subtitle {
          font-size: 20px;
      }
  }
  .sweeteners__button {
      margin: 0 auto;
  }
  
  .sweeteners__title.h1{
    font-weight:700;
      font-size:40px;
      text-align: center;
  }
  
  .sweeteners__eyebrow{
      text-align: center;
      font-size: 14px;
      letter-spacing: .0714em;
      line-height: 1.357em;
  }
  
  .object-fit-contain {
      -o-object-fit: contain;
      object-fit: contain;
  }
  
  .show-mobile{
    display:none;
  }
  
  .js-section__page-galaxy .u-bg-overlay:before{
    background:transparent;
  }
  
  @media screen and (max-width: 568px) {
    #shopify-section-sweeteners{
      margin-top:50px;
      margin-bottom: 50px;
    }
    
    .sweeteners__title.h1 {
        font-weight: 700;
        font-size: 24px;
        text-align: center;
    }
    
    .sweeteners__grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-auto-rows: auto;
      gap: 24px;
      margin-left: 0;
    }
  
    .anatomy__grid {
        padding: 0 15px;
        margin-top: 25px;
    }
  
    .show-mobile{
        display:block;
      }
  
      .key__content {
          border-top: 1px solid rgb(30 32 91 / 0%);
      }
  
      .key:not(:first-of-type) .key__content {
          border-top: 1px solid rgb(30 32 91 / 0%);
      }
  
      .key:first-of-type .key__content {
          padding-top: 18px;
      }
  
      .key:first-of-type .key__icon {
          transform: translateY(18px);
      }
  }
  #shopify-section-nutrition-our-secret img {
      max-width: 100%;
      height: auto;
      font-style: italic;
      vertical-align: middle;
  }
  .shopify-section-home-ingredients-master {
  padding: 40px 0 5px;
  text-align: center;
}
@media (min-width: 576px) {
  .shopify-section-home-ingredients-master {
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master {
    padding-top: 65px;
  }
}
.shopify-section-home-ingredients-master .container {
  padding-right: 15px;
  padding-left: 15px; }
@media (min-width: 576px) {
  .shopify-section-home-ingredients-master .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master .container {
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master .container {
    max-width: 1140px;
  }
}
.shopify-section-home-ingredients-master .container {
  width: 100%;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto; }
.shopify-section-home-ingredients-master__title {
  margin-bottom: 35px;
  color: #007367;
  font-size: 18px;
  text-align: center;
}
.shopify-section-home-ingredients-master__title h2 {
  margin-bottom: 22px;
  line-height: 1.7;
  letter-spacing: 1.6px;
  color: #000;
  font-size: 43px;
  font-weight: 700;
}

@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__title h2 {
    font-size: 44px;
  }
}
.shopify-section-home-ingredients-master__title p {
  margin-bottom: 27px;
  font-size: 20px;
  font-weight: 500;
  color: #4ec9ea;
}
@media (max-width: 767px) {
  .shopify-section-home-ingredients-master__title h2 {
	font-size: 30px;
  }
  .shopify-section-home-ingredients-master__title p {
  	font-size: 20px;
  }
}
.shopify-section-home-ingredients-master .btn-more {
  padding: 9px 30px;
  text-align: center;
  background-color: #fff;
  border: 2px solid #4ec9ea;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.shopify-section-home-ingredients-master .btn-more:hover {
	color: #fff;
  	background-color: #4ec9ea;
}

.shopify-section-home-ingredients-master__wrapper img{max-width: 100%; }

.shopify-section-home-ingredients-master__wrapper .holder1 {
	top: -65px;
    margin-bottom: 0;
}
.shopify-section-home-ingredients-master__wrapper .holder2 {
	margin-bottom: 70px;
    left: 10%;
    top: 68px;
}
.shopify-section-home-ingredients-master__wrapper .holder3 {
	top: -50px;
}
.shopify-section-home-ingredients-master__wrapper .holder4 {
	top: 0;
    left: -10%;
    margin-bottom: 0;
}
.shopify-section-home-ingredients-master__wrapper .holder5 {
	top: -45px;
    left: -16%;
    margin-bottom: 0;
}
@media (max-width: 767px) {
	.shopify-section-home-ingredients-master__wrapper .holder1 {
    	top: -23px;
    }
  	.shopify-section-home-ingredients-master__wrapper .holder2 {
    	left: initial;
      	top: initial;
    }
  	.shopify-section-home-ingredients-master__wrapper .holder4 {
        top: -65px;
    	left: 15px;
    }
  	.shopify-section-home-ingredients-master__wrapper .holder5 {
        top: 10px;
    	left: 0;
    }
}
@media (max-width: 575px) {
	.shopify-section-home-ingredients-master__wrapper .holder4 {
        top: -20px;
    	left: 15px;
    }
}

@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__title .btn-more {
    padding: 15px; }
}
.shopify-section-home-ingredients-master__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
}
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper {
    align-content: center;
  }
}
.shopify-section-home-ingredients-master__wrapper .ingredients-holder {
  position: relative;
  margin-bottom: 10px;
  color: #007367;
  width: 32%; }
@media (max-width: 1199px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 576px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder {
    width: 33.333333%;
  }
}
.shopify-section-home-ingredients-master__wrapper .ingredients-holder.active .popup-content {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 767px) {
	.shopify-section-home-ingredients-master__wrapper .ingredients-holder.active .popup-content {
    	padding: 15px 10px;
    }
}
.shopify-section-home-ingredients-master__wrapper .ingredients-holder.active .navigable span {
  transform: translate(-50%, -50%) rotate(45deg);
}
.shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder01 {
  top: -38px;
}
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder01 {
    top: -85px;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder01 .navigable {
    top: 85%;
    right: 26%;
    left: auto;
  }
}
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder01 .img-responsive {
    max-height: 150px; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder01 .popup-content {
    top: 1%;
    left: 7%; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder02 {
    top: 68px;
    left: 10%;
    margin-bottom: 70px; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder02 .navigable {
    top: 13%;
    left: 24.5%; } }
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder02 .img-responsive {
    max-height: 150px; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder02 .popup-content {
    top: 20%;
    left: 20%; } }
.shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder03 {
  top: -34px; }
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder03 {
    top: -50px;
    margin-bottom: 40px; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder03 {
    margin-bottom: 0; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder03 .navigable {
    top: 75%;
    right: 25%;
    left: auto; } }
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder03 .img-responsive {
    max-height: 150px; } }
.shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder03 .popup-content {
  left: -152%; }
@media (min-width: 576px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder03 .popup-content {
    top: -21%;
    left: -145%; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder03 .popup-content {
    top: -10%;
    left: 4px; } }
.shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder04 {
  top: -16px;
  left: -18px; }
@media (max-width: 767px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder04 {
    margin-bottom: 15px; } }
@media (min-width: 576px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder04 {
    top: -65px;
    left: 15px; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder04 {
    top: 0;
    left: -10%;
    margin-bottom: 0; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder04 .navigable {
    top: 98%;
    right: 24%;
    left: auto; } }
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder04 .img-responsive {
    max-height: 150px; } }
@media (min-width: 576px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder04 .popup-content {
    top: 15px;
    left: -50%; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder04 .popup-content {
    top: -54%;
    left: 2%; } }
.shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder05 {
  top: 6px;
  left: -35px; }
@media (min-width: 576px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder05 {
    top: -13px;
    left: -22px; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder05 {
    top: -45px;
    left: -16%;
    margin-bottom: 0; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder05 .navigable {
    top: 63%;
    left: 70%; } }
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder05 .img-responsive {
    max-height: 180px; } }
@media (min-width: 576px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder05 .popup-content {
    top: -110%;
    left: 15%; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder05 .popup-content {
    top: -73%;
    right: 10%;
    left: auto; } }
.shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder06 {
  top: -28px;
  left: 21px; }
@media (min-width: 576px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder06 {
    top: -9px;
    left: 38px; } }
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder06 {
    top: -52px; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder06 {
    top: -18px;
    margin-bottom: 0; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder06 .navigable {
    top: 79%;
    left: 75%; } }
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder06 .img-responsive {
    max-height: 150px; } }
.shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder06 .popup-content {
  left: -152%; }
@media (min-width: 576px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder06 .popup-content {
    top: -133%;
    left: 30%; } }
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder06 .popup-content {
    top: -136%;
    left: -39%; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder06 .popup-content {
    top: -92%;
    left: auto;
    right: 25%; } }
.shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder07 {
  top: -65px;
  left: 15%; }
@media (max-width: 1199px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder07 {
    margin-bottom: 0; } }
@media (min-width: 576px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder07 {
    left: 11%;
    top: -46px;
    margin-bottom: 0; } }
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder07 {
    top: -15px;
    margin-bottom: 80px; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder07 {
    left: 75px;
    top: -105px;
    margin-bottom: 0; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder07 .navigable {
    top: 85%;
    left: 72%; } }
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder07 .img-responsive {
    max-height: 150px; } }
@media (min-width: 1200px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder.holder07 .popup-content {
    left: auto;
    top: -100%;
    right: 16%; } }
.shopify-section-home-ingredients-master__wrapper .ingredients-holder .navigable {
  position: absolute;
  top: 2%;
  left: 25%;
  z-index: 3;
  display: block;
  font-size: 18px;
  cursor: pointer; }
.shopify-section-home-ingredients-master__wrapper .ingredients-holder .navigable:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #ffc307;
}
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder .navigable:before {
    width: 48px;
    height: 48px; } }
.shopify-section-home-ingredients-master__wrapper .ingredients-holder .navigable span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  transform: translate(-50%, -50%);
  transition: transform .3s linear;
  font-size: 18px; }
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder .navigable span {
    width: 21px;
    height: 21px; } }
.shopify-section-home-ingredients-master__wrapper .ingredients-holder .navigable span::before, .shopify-section-home-ingredients-master__wrapper .ingredients-holder .navigable span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 15px;
  height: 1px;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%; }
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder .navigable span::before, .shopify-section-home-ingredients-master__wrapper .ingredients-holder .navigable span::after {
    width: 23px;
    height: 1px;
  }
}
.shopify-section-home-ingredients-master__wrapper .ingredients-holder .navigable span::after {
  transition: opacity .3s linear;
  transform: translateY(-50%) rotate(90deg); }

.shopify-section-home-ingredients-master__wrapper .ingredients-holder .img-responsive {
  max-height: 150px;
}
@media (max-width: 767px) {
	.shopify-section-home-ingredients-master__wrapper .ingredients-holder .img-responsive {
      max-height: 75px;
    }
}


.shopify-section-home-ingredients-master__wrapper .ingredients-holder .popup-content {
  display: none;
  position: absolute;
  top: 1%;
  left: 30%;
/*   width: 300px; */
/*   max-width: 245px; */
  padding: 34px;
  margin: 0 auto;
/*   background: url("popup-decor.png") no-repeat 50% 50%;
  background-size: contain; */
  background-color: #4ec9ea;
  opacity: 0;
  font-size: 12px;
  z-index: 9;
  visibility: hidden;
  transition: all .3s ease-in-out;
}

.shopify-section-home-ingredients-master__wrapper .ingredients-holder .popup-content {
  top: 23px;
  left: auto;
  width: auto;
  top: 25%;
  padding: 25px;
  z-index: 4;
  font-size: 15px;
}
@media (max-width: 767px) {
	.shopify-section-home-ingredients-master__wrapper .ingredients-holder .popup-content {
    	max-width: 300px;
    }
}
.shopify-section-home-ingredients-master__wrapper .ingredients-holder .popup-content h3 {
  position: relative;
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 1.6px;
}

@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder .popup-content h3 {
    font-size: 20px;
  }
}
.shopify-section-home-ingredients-master__wrapper .ingredients-holder .popup-content h3::before {
  content: "";
  position: absolute;
  top: calc(100% + 2px);
  left: 50%;
  transform: translateX(-50%);
  width: 115px;
  height: 2px;
  background-color: #ffc307;
}
.shopify-section-home-ingredients-master__wrapper .ingredients-holder .popup-content p {
/*   max-width: 140px; */
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder .popup-content p {
/*     max-width: 155px;  */
  }
}
@media (min-width: 768px) {
  .shopify-section-home-ingredients-master__wrapper .ingredients-holder .popup-content p {
    font-size: 15px;
  }
}
@media (max-width: 767px) {
	.shopify-section-home-ingredients-master__wrapper .ingredients-holder .popup-content h3 {
/*     	font-size: 12px; */
    }
  	.shopify-section-home-ingredients-master__wrapper .ingredients-holder .popup-content p {
/*     	font-size: 10px; */
      	min-width: 150px;
    }
}
.home-custom__img {
  width: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .u-2\/3\@tab {
    width: 66.6666666667%;
  }
}
@media screen and (min-width: 768px) {
  .u-1\/1\@tab {
    width: 100%;
  }
}
/** Nutrition page END **/
/** BN */

@font-face {
font-family: 'fgoth_con';
font-style: normal;
font-weight: normal;
src: local('Franklin Gothic Condensed'), url('Franklin Gothic Condensed.woff') format('woff');
}

@font-face {
font-family: 'spacemono_r';
font-style: normal;
font-weight: normal;
src: local('space-mono-v11-latin-regular'), url('space-mono-v11-latin-regular.woff') format('woff');
}
@font-face {
  font-family: "fgoth_light";
  src: local('URW Franklin Gothic W02 Light'), url('URW Franklin Gothic W02 Light.woff') format('woff'); /* chrome、firefox */
  /*url("79b725e00ebb1fbe198589946c99b048.ttf") format("truetype"), !* chrome、firefox、opera、Safari, Android, iOS 4.2+*!*/
}

@font-face {
font-family: 'Poppins ExtraBold';
font-style: normal;
font-weight: normal;
src: local('Poppins ExtraBold'), url('Poppins-ExtraBold.woff') format('woff');
}


.w100{width: 100%}
.instastory-title{display: none;}
.text_center{text-align: center;}
.all_caps{text-transform: uppercase;}

.prod_1st_tag {
  text-transform: uppercase;
  font-size: 0.6em;
  color: black;
  position: absolute;
  left: 48px;
  z-index: 2;
  font-family: 'spacemono_r', sans-serif
}

.rotate_360_animate{
  animation: rotate360 16s infinite linear;
  -webkit-animation: rotate360 16s infinite linear;
}
@keyframes rotate360 {
  0% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
  
  100% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
}
@media screen and (max-width: 1007px) {
  #shopify-section-footer footer button{
    font-family: 'Poppins ExtraBold', sans-serif ;
  }
}
div.js-section__sidebar{
  width: 30%;
  float: left;
  padding-left: 16px;
  padding-right: 16px;
  z-index: 4;
}
div.js-section__sidebar div.container-full{
  margin-top: 15px;
}
div.js-section__sidebar a{
  text-decoration: none;
}
#frequently-asked-questions-craftbelly-delights™-ice-cream div.main-accordion--wrapper{
  width: 70%;
  float: right;
}
.accordion_category{
  margin-top: 42px;
  margin-bottom: 18px;
}
@media screen and (max-width: 1007px) {
  div.js-section__sidebar {display: none;}
  #frequently-asked-questions-craftbelly-delights™-ice-cream div.main-accordion--wrapper{width: 100%;}
}
.slick-dotted.slick-slider{margin-bottom: 80px;}
div#before_instafeed{
  font-size: 130%;
  font-weight: bold;
}

div#before_instafeed a{
  text-decoration: none;
  margin-left: 60px;
}
#home_social{margin-bottom: 2rem;    font-size: 2.4rem;}

@media screen and (max-width: 1007px) {
  #home_social{font-size: 2rem;}
  div#before_instafeed{
    text-align: center;
  }
  div#before_instafeed a{
    margin-left: 0;
  }
}
div.homepage-section--blog-posts-wrapper .type-subheading a ,
div.blog-title-wrapper.homepage-blog-title-wrapper.article-image-header > .type-subheading {
  text-transform: capitalize; line-height: 30px; font-size: 20px; letter-spacing: 0.6px;
}
div.homepage-section--blog-posts-wrapper div.blog--read-more a{
  margin-top: 20px; color: #59C7E0;
}
#blog_posts div.blog--read-more a{
  color: #59C7E0;
}
@media screen and (max-width: 1007px){
    div.hero-video--text div.section-background.img{
        display: none;
    }
}
div.testimonial-container, div.homepage-featured-content div.feature-row__image img,
div.homepage-featured-products article.indiv-product
,div.homepage-featured-products article.indiv-product div.indiv-product__image-wrapper img
,div.grid--blog div.article--background-image
,#instafeed li.splide__slide,
div.mega-menu--image img{
  border-radius: 24px;
}
.text-adverts__icon-size--large img
  /*,.text-adverts__icon-size--large svg*/
{margin-bottom: 20px;width: 43px; height: 43px;}

.sidebar li{
  list-style: none;
}
div.js-section__sidebar{position: sticky; position: -webkit-sticky; top:0;margin-left: 88px;}
/**judgeme **/
div.jdgm-revs-tab-btn{display: none}
/**judgeme END **/
@media screen and (max-width: 769px){
  .hero-video--media iframe, .hero-video--media video{display: inherit;}
}
#mobile_vid_bn{
    height: 77vh;
    object-fit: cover;
    width: 100%;
  }
@media screen and (max-width: 769px){
  .hero-video.mobile-height-fullscreen{
    height: 77vh;
  }
}
#mobile_vid_bn.fit{
  height: inherit;
}

.notification-bar{
  padding: 0 5px;
}
.notification-bar__message{
  padding-right: 5px; padding-left: 5px;
}
.article_title{
  --header-letter-spacing: 0.5px;
}
.article__entry-content{
  --link-color: #13c4ef;
}
/** recipe tag */
/**
 * ----------------------------------------------------------------------------------------------
 * Default styling for site-wide carousel
 * ----------------------------------------------------------------------------------------------
 */

.Carousel {
  position: relative;
}

.Carousel--fixed,
.Carousel--fixed .flickity-viewport,
.Carousel--fixed .Carousel__Cell {
  height: 100%;
}

/* This allows to hide cells that are not first one until slider is loaded */
.Carousel:not(.flickity-enabled) .Carousel__Cell:not(.is-selected) {
  display: none;
}

.Carousel__Cell {
  display: block;
  width: 100%;
}

.js .Carousel--fadeIn .flickity-slider {
  transform: none !important;
}

.js .Carousel--fadeIn .Carousel__Cell {
  left: 0 !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.js .Carousel--fadeIn .Carousel__Cell.is-selected {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.Carousel--insideDots .flickity-page-dots {
  position: absolute;
  width: auto;
  margin: 0;
  bottom: 20px;
  left: 20px;
}

.Carousel--insideDots .flickity-page-dots .dot {
  border-color: currentColor;
}

.Carousel--insideDots .flickity-page-dots .dot.is-selected {
  background: currentColor;
}

.Carousel--insideDots .flickity-prev-next-button {
  bottom: -25px;
  z-index: 1;
}

.Carousel--insideDots .flickity-prev-next-button.next {
  right: 25px;
}

.Carousel--insideDots .flickity-prev-next-button.previous {
  right: 75px;
  margin-right: 15px;
}

@media screen and (min-width: 1008px) {
  .Carousel--insideDots .flickity-page-dots {
    bottom: 28px;
    right: 24px;
    left: auto;
  }
}
.Carousel__Cell.Carousel__Cell_sml {
  display: inline-block;
  width: inherit;
}
/*@media (max-width: 1007px) {*/
    #rtag_wrapper{margin-top: 80px;margin-left: 30px;margin-bottom: 80px;}
#rtag_wrapper > a{text-decoration: none;}
#rtag_wrapper > a.point_to_cur_page {text-decoration: underline;}
    #rtag_wrapper > a > img {
        max-width: 120px; border-radius:60px; padding:3px;
      border-color: var(--blue);
    }
.rtag_name{text-align: center;margin-top: 24px;font-size: 17px;}
    #rtag_wrapper.Carousel{
        white-space: nowrap;
        overflow: auto;
    }
    #rtag_wrapper .Carousel__Cell {
        margin-left: 24px;
        display: inline-block !important;
    }
/*}*/
/** recipe tag end **/

/** BN end */
