/*Locations page*/
select.select__select {
  box-shadow: none;
  border: 1px solid var(--filter-border-color);
  transition: box-shadow .1s ease;
}
div.sticky-desc{font-size: 15px;padding: 30px 15px 0;}
#location_localities{margin-top: 80px;display: flex;flex-wrap:wrap;justify-content: center;}
#location_localities > a{
  background-color: var(--blue);
  background-image: url('geo-alt.svg');
  background-repeat: no-repeat;
  background-position-y: 37px;
  background-size: 37px;
  background-position-x: center;
width: 20%;
  height: 200px; line-height: 200px;
  text-align: center;
  margin-left: 50px;
  border-radius: 24px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  font-family: var(--heading2-font);
}
@media screen and (max-width: 1007px) {
  #location_localities > a {
    font-size: 19px;
    margin-left: 0;
    width: 81%;
    height: 142px;
    margin-bottom: 8px;
  }
}
#location_localities > a:hover{
  opacity: 0.8;
}
